.mainContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
}

.cardsContainer{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
    margin: auto;
    padding: 1rem;


}

.card{
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 1px solid black;
}
.catched{
    opacity: 0.4;
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 1px solid black;
}
.catched button{
    display: none;
}
.chart{
 position: fixed;
 top: 0;
 right: 0;
 width: 30%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.catchContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid brown;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    margin: auto;
}
.favoriteContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 1rem;
    border-top: 1px solid brown;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    margin: auto;
   }

.catchCard{
    width: 6rem;
    height: 10rem;
    text-align: center;
    border: 1px solid black;
}
