.mainContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 1px solid black;
}

.catchContainer{
display: flex;
flex-wrap: wrap;
}

.catchCard{
    width: 6rem;
    height: 10rem;
    text-align: center;
    border: 1px solid black;
}