@media (prefers-color-scheme: dark) {
   p{
    background-color: #1F2023;
    color: #DADADA;
   }
  }

  body:after{
    display:none;
    content: url(../photos/darkBack.jpg) url(../photos/backGround.jpg);
}

.mainContainer{
    min-height: 100vh;
    background-image: url(../photos/backGround.jpg);
    background-position: left top;
    background-size: 72% 100vh;
    background-repeat: repeat-y;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    
}
.mainDark{
    background-image: url(../photos/darkBack.jpg);   
}


.cardsContainer{
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
    margin: auto;
    margin-top: 3rem;
   
}
.cardsContainer p{
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-top: 0;
}

.card{
    background-color: rgb(228, 202, 184);
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 2px solid rgb(216, 173, 30);
    border-radius: 5px;
}
.catched{
    background-color: rgb(161, 83, 46);
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 1px solid rgb(12, 12, 12);
    border: 2px solid rgb(216, 173, 30);
   
    border-radius: 5px;
}
.catched .pokeball{
    display: none;
}
.chart{
background-color: snow;
 position: fixed;
 top: 2rem;
 right: 0;
 width: 30%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.catchContainer{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: stretch;
    gap:1rem 0;
    padding: 1rem;
    border-bottom: 1px solid brown;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    margin: auto;
    background-color: rgba(40, 177, 177, 0.205);
    overflow-x: hidden;
}
.darkCatch{
    background-color: rgb(19, 12, 12);
    color: #fff;
}
.dark{
  
    background-color:#1F2023  !important;
    color: #fff!important;
}
.favoriteContainer{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: stretch;
    gap:1rem 0;
    padding: 1rem;
    border-top: 1px solid brown;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    margin: auto;
    background-color: rgba(240, 56, 96, 0.315);
    padding-bottom:2rem ;
    overflow-x: hidden;
   }

.catchCard{
    position: relative;
    width: 6rem;
    height: 7rem;
    text-align: center;
    border: 1px solid rgb(10, 57, 187);
    background-color: rgb(93, 206, 235);
    color: #1F2023;
}
.favCard{
    position: relative;
    width: 6rem;
    height: 7rem;
    text-align: center;
    border: 1px solid rgb(233, 186, 31);
    background-color: rgb(233, 60, 60);
     color: #1F2023;
}
.pokeball{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    animation: pokeAnimation 1000ms linear  infinite forwards;
}
.pokeball:active{
    width: 3rem;
    height: 3rem;
}
.pokeballStatic{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}
.red{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}
.blue{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}
.arrow{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

@keyframes pokeAnimation {
    0%{
    width: 1.6rem;
    height: 1.6rem;
    }
    50%{
        width: 2rem;
        height: 2rem;
    }
    100%{
        width: 1.6rem;
        height: 1.6rem;
    }
}
.count{
   position: relative;
    font-weight: 600;
    font-size: 12px;
}
.cardBtns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 1px;
}

.span{
    position: fixed;
    top:0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: red;
    z-index: 4;
}

.usage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}
.usage p{
    margin-right: 0.5rem;
}
.usage img:hover{
    cursor: default;
}
 
.pagination{
    grid-column: 1 / span 4;
    text-align: center;
    margin-top: 0;
    height: 2rem;
    margin: 0;
}
.connectionError p{
    position: relative;
    top:30%;
    background-color: tomato;
}
.loading{
    position: relative;
    top:30%;
    background-color: green;
    height: 3rem;
}